. corpo{ 
    background-color: blue;
    color: purple;
    text-align: center;
    border: 1000px;
    border-style: double;
    border-color: darkred;
}
p{
    color: rgb(0, 255, 234);
    font-size: 20px;
}

#link:hover{
    color:darkblue;
    text-decoration: none;


}

#link:hover{
    color: navy;
    font-size: 15px;
}
